$app-light-1: rgb(251, 251, 251);
$app-light-2: #EFEFEF;
$app-light-3: #FFFFFF;
$app-orange-1: #FAB51C;
$app-dark-1: rgb(74, 74, 74);
$app-dark-2: rgb(54, 54, 54);
$app-disabled: #848289;
$app-danger: #ff3232;

$app-input-error: #ff3232;
$font-color-default: #2c2c2c;
$font-color-input: rgb(44, 44, 44);
$font-color-disabled: rgb(146, 146, 146);

$app-red:#EF2D56;
$app-yellow:#F5CB5C;
$app-green:#0AA83B;

$btn-height: 45px;
$item-height: 45px;

$font-size-5: 30px;
$font-size-4: 25px;
$font-size-3: 20px;
$font-size-2: 18px;
$font-size-1: 16px;

$box-shadow-1: 2px 3px 5px -4.5px rgba(0,0,0,0.75);
$box-shadow-2: 3.5px 5px 5px -4.5px rgba(0,0,0,0.75);

$input-margin: 15px;

$input-border: 1px solid #ddd;