@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('assets/fonts/roboto/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('assets/fonts/roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('assets/fonts/roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('assets/fonts/roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('assets/fonts/roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('assets/fonts/roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
}