<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Purchases history</ion-title>
    <ion-img class="brand-img" slot="end" src="../assets/img/brand.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content-wrapper">

  <h3 class="hint-header">My orders</h3>

  <div *ngFor="let historyEntry of _historyEntries" class="item-entry">

    <img class="img-thumbnail" src="../../assets/img/time-arrow.png"/>

    <div class="item-label">
      <br>
      <span><b>{{ historyEntry.date }}</b></span>

      <br>
      <span>Item: {{ historyEntry.itemName }}</span>

      <br>
      <span>Quantity: {{ historyEntry.itemQuantity }}</span>

      <br>
      <span>Price: {{ historyEntry.totalPrice }} PLN</span>
    </div>
  
  </div>

</div>
</ion-content>
