/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import "./theme/variables.scss";
@import "./theme/custom.scss";
@import './theme/fonts.scss';

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

div {
    color: $font-color-default;
}

body {
    background-color: $app-light-1;
}

.content-wrapper {
    padding: 10px;
    min-height: 100%;
    margin-top: 10px;

    font-family: 'Avenir Next LT Pro';
    text-align: center;
}

.hint-header {
    font-size: $font-size-4;
    color: $app-dark-1;
    letter-spacing: 1px;
    font-weight: 600;
}

.standard-btn,
.special-btn {
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 50px;
    box-shadow: $box-shadow-1;
    
    ion-icon {
        font-size: $font-size-5;
        margin-right: 10px;
    }
}

.standard-btn {
    height: $btn-height;
    font-size: $font-size-2;
    background-color: $app-dark-1;
    color: $app-light-2;
    font-weight: 200;
    transition: all 0.2s ease-in-out;
}
.standard-btn:active {
    background-color: $app-dark-2;
    color: $app-light-3;
}

.special-btn {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    font-size: $font-size-2;
    background-color: $app-light-3;
    box-shadow: $box-shadow-1;
    font-weight: 400;
}
.special-btn:active {
    background-color: #f9f9ff;
}

.standard-input {
    margin-top: $input-margin;
    padding: 5px 24px;
    min-height: $item-height;
    width: 90%;
    height: $item-height;
    color: $font-color-default;
    background-color: white;

    border-radius: 20px;
    border: none;
    border: $input-border;
    font-size: $font-size-1;

    &::placeholder {
        color: $font-color-default;
    }
    &:disabled {
        color: $font-color-disabled;
    }
}

.brand-img {
    width: 50px;
    margin-right: 5px;
}

.remove-btn {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $app-light-1;
    font-size: $font-size-5;
    color: $app-danger;
}

.txt-medium {
    font-size: $font-size-1;
}

.input-error {    
    border-color: $app-input-error;
}

.app-version {
    margin-left: 30px;
    margin-bottom: 30px;

    color: $app-dark-1;
    font-size: $font-size-1;
}

.small-btn {
    height: 30px;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: 4px;
    font-size: $font-size-1;
}

.img-thumbnail {
    width: 100px;
    display: inline-block;
}