<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-img class="brand-img" slot="end" src="../assets/img/brand.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content-wrapper">

  <h3 class="hint-header">Elephant - Electronics shop</h3>

  <div class="top-label">
    Flash Deal
  </div>

  <div *ngIf="_latestItem" class="product-container">
    <img [src]="_latestItem.image"/>
  </div>

  <div *ngIf="_latestItem" class="bottom-label">
    {{ _latestItem.name }}
  </div>

  <br>
  <button class="standard-btn small-btn" type="button" (click)="addToCart()">
    Add to cart
  </button>

</div>
</ion-content>
