@import "../../theme/custom.scss";

.top-label {
    margin-top: 15px;
    padding: 20px;

    font-size: $font-size-5;
    line-height: 1.8;
    font-weight: 300;
}

.product-container {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    width: calc(100vw - 70px);
    height: calc(100vw - 70px);

    max-width: 300px;
    max-height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.bottom-label {
    margin-top: 15px;
    padding: 20px;

    font-size: $font-size-3;
    line-height: 1.8;
    font-weight: 300;
}
