<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Create a new account' }}</ion-title>
    <ion-img class="brand-img" slot="end" src="../assets/img/brand.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content-wrapper">

  <h3 class="hint-header">Enter user data</h3>

  <form [formGroup]="_userForm">

    <input [ngClass]="{'input-error' : _invalidFields['login']}" class="standard-input" 
    formControlName="login" placeholder="Login"/>

    <input [ngClass]="{'input-error' : _invalidFields['email']}" class="standard-input" 
    formControlName="email" placeholder="Email"/>

    <input [ngClass]="{'input-error' : _invalidFields['password']}" class="standard-input password-input" 
    formControlName="password" placeholder="Password" type="password" inputmode="numeric"/>

    <input [ngClass]="{'input-error' : _invalidFields['confirmPassword']}" class="standard-input password-input" 
    formControlName="confirmPassword" placeholder="Confirm password" type="password" inputmode="numeric"/>

    <br><br>
    <button class="standard-btn" type="button" (click)="onSubmit()">
      Create
    </button>

    <br>
    <button class="standard-btn" type="button" routerLink="/login">
      Back
    </button>

  </form>

</div>  
</ion-content>
