@import "../../theme/custom.scss";

.item-entry {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.item-label {
    margin-left: 30px;
    width: 150px;
    display: inline-block;
    align-self: flex-start;

    text-align: left;
    font-size: $font-size-1;
}

.item-name {
    padding-left: 10%;
}

.small-btn {
    height: 30px;
    width: 100%;
    align-self: flex-end;

    padding: 4px;
    clear: both;
    display: block;
    font-size: $font-size-1;
}