<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping cart</ion-title>
    <ion-img class="brand-img" slot="end" src="../assets/img/brand.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content-wrapper">

  <h3 *ngIf="_displayedItems.length > 0" class="hint-header">Added items</h3>
  <h3 *ngIf="_displayedItems.length === 0" class="hint-header">Your cart is empty</h3>

  <div *ngFor="let item of _displayedItems" class="item-entry">

    <img class="img-thumbnail" [src]="item.image"/>

    <div class="item-label">
      <br>
      <span>{{ item.name }}</span>

      <br>
      <span><b>Quantity: {{ item.quantity }}</b></span>

      <br>
      <span><b>Price: {{ item.totalPrice }} PLN</b></span>
      
      <button class="standard-btn small-btn" type="button" (click)="remove(item.id, item.name)">
        Remove
      </button>
    </div>
  
  </div>

  <br>
  <h4 *ngIf="_totalPrice !== 0">Total price: {{ _totalPrice }} PLN</h4>

  <br>
  <button *ngIf="_displayedItems.length > 0" class="standard-btn" type="button" (click)="purchase()">
    Purchase
  </button>
  <br>
  <button *ngIf="_displayedItems.length === 0" class="standard-btn" type="button" routerLink='/inventory'>
    Go to shop
  </button>

</div>
</ion-content>
