<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inventory</ion-title>
    <ion-img class="brand-img" slot="end" src="../assets/img/brand.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content-wrapper">

  <h3 class="hint-header">Available items</h3>

  <div *ngFor="let item of _items" class="item-entry">

    <img class="img-thumbnail" [src]="item.image"/>

    <div class="item-label">
      <span>{{ item.name }}</span>

      <br>
      <span><b>Price: {{ item.price }} PLN</b></span>

      <button class="standard-btn small-btn" type="button" (click)="chooseQuantity(item.id, item.name)">
        Add to cart
      </button>
    </div>
  
  </div>

</div>
</ion-content>
