<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'Log in' }}</ion-title>
    <ion-img class="brand-img" slot="end" src="../assets/img/brand.png"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="content-wrapper">

  <h3 class="hint-header">Enter login and password</h3>

  <div> 
    <input [(ngModel)]="_login" type="text" inputmode="numeric" 
    placeholder="Login" class="standard-input"/>
  </div>

  <div> 
    <input [(ngModel)]="_password" type="password" inputmode="numeric" 
    placeholder="Password" class="standard-input"/>
  </div>

  <br>
  <button class="standard-btn" type="button" (click)="login()">
    Login
  </button>

  <br>
  <button class="standard-btn" type="button" routerLink="/register">
    Create a new account
  </button>
  
</div>
</ion-content>
